* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 15px;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 300;
  color: #84878d;
  background-color: #131a20;
}
#branding {
  width: 42px;
  height: 36px;
  margin-right: 10px;
}
#popcorn {
  max-width: 100%;
}
a:-webkit-any-link {
  color: unset;
}
